.modal {
    background-color: var(--taskBackground);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.4);
}

.closeModal {
    align-self: flex-end;
    cursor: pointer;
}

.modalContent {
    display: flex;
    flex-direction: column;
    background-color: var(--modelBackGround);
    width: 40%;
    margin: 3rem auto;
    padding: 3rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalContent > input {
    border: none;
    border-bottom: 1px solid rgba(101, 81, 81, 0.4);
    margin-bottom: 2rem;
    padding: 1rem 0rem;
    background-color: var(--modelBackGround);
    outline: none;
    font-size: 1.3rem;
}

.categories {
    display: flex;
}

.category {
    margin: 0rem 2rem 1rem 0rem ;
}

.category > label {
    margin-left: 1rem;
    color: var(--acentColor);
    cursor: pointer;
}

.buttonSave {
    align-self: flex-end;
    background-color: var(--acentColor);
    color: white;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 2rem;
}

::placeholder {
    color: var(--placeholdersColor);
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--placeholdersColor);
  }

  .errorMessage {
    color: var(--errorMessages);
  }