@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 16px;
}

:root {
    --mainBackgroudColor: hsl(42, 92%, 58%);
    --taskDone: hsl(118, 100%, 36%);
    --mainColorFont: hsl(0, 0%, 100%);
    --taskBackground: hsl(171, 47%, 52%);
    --placeholdersColor: hsl(0, 11%, 36%, 0.4);
    --acentColor: hsl(13, 97%, 55%);
    --errorMessages: hsl(0, 44.6%, 52.5%);
    --modelBackGround: hsl(0, 0%, 100%);
}

/* body {
    background: var(--mainBackgroudColor);
} */

.mainContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        ". tasks menu";
    
}
